body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 28px;
}

.button {
    border-radius: 28px;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    padding: 8px 16px;
}

.button.cta {
    background-color: #14B46C;
    border-color: #14B46C;
}

.button:hover {
    opacity: 0.8;
}

main {
    padding-top: 60px;
}

/*** fine regole layout base ***/
/* ********** */
/*** header ***/
/* ********** */
header {
    background-color: #FFB100;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#logo-container {
    text-align: center;
}

#logo-container img {
    height: 27px;
    margin-top: calc((60px - 27px) / 2);
    cursor: pointer;
}

#accedi-container {
    text-align: right;
}

#accedi {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    padding: 8px 16px;
    line-height: 60px;
    margin-right: 12px;
    border-radius: 20px;
    font-size: 14px;
}

#accedi i {
    margin-right: 5px;
    font-size: 12px;
}

/* ********** */
/* * jumbo ** */
/* ********** */
#jumbo {
    height: 900px;
    background-color: #FFB100;
    padding-right: 60px;
    padding-bottom: 80px;
}

#jumbo-img {
    background-image: url('https://www.nowtv.it/content/dam/static/contentimages/original/sezioni/nowtv/1_home_trial/2018/visori_nuovi/VisoreDoppioXF13_1994.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

#jumbo-text {
    background-color: white;
    width: 303px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    padding: 30px 40px;
    color: #680091;
    text-align: center;
    border-radius: 5px;
}

#jumbo-text img {
    margin-bottom: 30px;
}

#jumbo-text p {
    line-height: 1.5;
}

#jumbo-text .cta {
    display: block;
    padding: 16px 20px;
    margin-top: 30px;
}

/* ********** */
/* * ribbon * */
/* ********** */
#ribbon {
    background-color: #680091;
    height: 70px;
}

#ribbon p {
    text-align: center;
    color: white;
    line-height: 70px;
    font-weight: bold;
}

#ribbon .button {
    margin-left: 20px;
    font-weight: normal;
}

#movies img {
    max-width: 100%;
    border-right: 5px solid white;
}

#movies .col-lg-3:last-child img {
    border-right: none;
}

/* *************** */
/* *** vantaggi ** */
/* *************** */
#vantaggi {
    background-color: #022b42;
    padding-top: 60px;
    text-align: center;
    color: #fff;
}

#vantaggi img {
    width: 90px;
    height: 90px;
}

#vantaggi h2 {
    padding-bottom: 30px;
}

#vantaggi h3 {
    padding: 15px 0;
}

#vantaggi p {
    font-size: 14px;
    padding: 0 20px 80px 20px;
}

/* *************** */
/* **** sport **** */
/* *************** */
#sport {
    background-color: #1c5eea;
    padding: 35px 0 50px;
    text-align: center;
    color: #fff;
}

h3 {
    font-size: 24px;
}

#sport img {
    padding-top: 40px;
    text-align: center;
    max-width: 100%;
}

#sport a {
    padding: 10px 35px;
    font-size: 14px;
}

/* ****************** */
/* *** smart-stick ** */
/* ****************** */
#smart-stick {
    background-color: #003366;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

#smart-stick p {
    padding: 10px 0;
}

#smart-stick img {
    padding-top: 50px;
    text-align: center;
    max-width: 100%;
}

/* ****************** */
/* ***** footer ***** */
/* ****************** */
footer {
    padding: 40px 0;
    background-color: #1c1c21;
    color: #fff;
}

footer a {
    color: white;
}

footer ul li {
    list-style-type: none;
    padding-bottom: 25px;
}

footer p {
    font-size: 12px;
    color: grey;
}

.footer-container div:nth-child(4) ul li {
    display: inline-block;
    padding-right: 15px;
}

.footer-container div:nth-child(5) p:first-child {
    padding-top: 30px;
}

.footer-container div:nth-child(5) p a {
    text-decoration: underline;
    color: white
}

@media screen and (max-width: 1440px) {
    #jumbo {
        height: 650px;
    }

    #jumbo-text {
        left: 50px;
    }
}

@media screen and (max-width: 1300px) {
    #jumbo {
        height: 550px;
    }
}

@media screen and (max-width: 1200px) {
    #jumbo {
        height: 920px;
        padding-right: 0;
        padding-bottom: 10px;
    }

    #jumbo-img {
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: right center;
    }

    #jumbo-text {
        top: 590px;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1023px) {
    #accedi {
        background: transparent;
        margin-right: 0;
    }

    #accedi span {
        display: none;
    }

    #accedi i {
        font-size: 16px;
    }

    #jumbo {
        height: 760px;
    }

    #jumbo-img {
        height: 400px;
    }

    #jumbo-text {
        top: 390px;
    }
}

@media screen and (max-width: 991px) {
    .footer-container {
        text-align: center;
        padding: 0 30px;
    }

    .footer-container div:nth-child(2) ul li,
    .footer-container div:nth-child(3) ul li {
        border-bottom: 1px solid #808080;
        padding: 13px 0;
        margin: 0 25px;
    }

    .footer-container div:nth-child(2) ul li:first-child,
    .footer-container div:nth-child(3) ul li:first-child {
        border-top: 1px solid #808080;
    }

    .footer-container div:nth-child(4) ul {
        margin-top: 40px;
    }

    .footer-container img {
        margin-bottom: 50px;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    header {
        height: 50px;
    }

    main {
        padding-top: 50px;
    }

    #logo-container img {
        margin-top: calc((50px - 27px) / 2);
    }

    #accedi {
        line-height: 50px;
        font-size: 20px;
    }

    #accedi i {
        font-size: 20px;
    }

    #jumbo-text {
        width: 300px;
    }

    #ribbon {
        height: auto;
    }

    #ribbon .ribbon-cta-container {
        display: block;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 30px;
    }

    #ribbon .button {
        margin-left: 0;
    }

    .footer-container div:nth-child(2) ul li:last-child {
        border-bottom: 0;
    }
}
}